main
    & > h1
        margin-bottom: 1rem

    & > div
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 1rem

        img
            margin-top: 8rem

            width: 100%

            transition: transform 0.2s

            &:hover
                transform: scale(1.1)
